# Composer
/vendor/
composer.phar
composer.lock
composer-test.lock

# PHPUnit
phpunit.xml

# Common
.DS_Store
.svn
code_coverage
*~
*.swp
coverage
.coverage
nbproject
.nbproject
build
.build
.settings
.settings/.*
.project
project
*.project
.buildpath
*.db
*.tmproj
*.sublime-project
.idea
*.idea/*